{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ page_title }} | AeroMiles{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <div class="app-shell">
        {% include "partials/navbar.html" %}

        <main class="page-content">
            {% block content %}{% endblock %}
        </main>
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>
